# Step 1: Data Preparation: Data Sourcing and Cleaning

In [2]:
# Data sourcing and cleaning
import pandas as pd
import numpy as np
from tensorboard.notebook import display

# Reading the data set 
df = pd.read_csv('../data/raw_data/Children-and-young-ppl-asthma-organisational-audit-2019-20-Data.csv')
print("Original Data")
print(df.head(10))
print("\n \n")
print(df.tail(10))
#Returning how many rows in the df
print("\n The amount of organisations in this data set is",df.count().values[0],".")

Original Data
  orgcode                          description  \
0     ADD               Addenbrooke's Hospital
1     AEI        Royal Albert Edward Infirmary
2     AIR            Airedale General Hospital
3     ALC  Royal Alexandra Children's Hospital
4     BAR   Barnsley District General Hospital
5     BAS                    Basildon Hospital
6     BAT           Royal United Hospital Bath
7     BCH       Birmingham Children's Hospital
8     BED                     Bedford Hospital
9     BFH                Broomfield Chelmsford

                                               trust  country emergency_adm  \
0  Cambridge University Hospitals NHS Foundation ...  England             -
1  Wrightington, Wigan and Leigh NHS Foundation T...  England           400
2                      Airedale NHS Foundation Trust  England           110
3  Brighton and Sussex University Hospitals NHS T...  England            10
4             Barnsley Hospital NHS Foundation Trust  England           325
5  Basildon and Thurrock University Hospitals NHS...  England           755
6   Royal United Hospitals Bath NHS Foundation Trust  England           345
7  Birmingham Women's and Children's NHS Foundati...  England          3550
8                         Bedford Hospital NHS Trust  England           280
9              Mid Essex Hospital Services NHS Trust  England           220

  respiratory_adm asthma_adm admsperbed respadmsperbed asthmaadmsper1000adms  \
0               -          -          -              -                     -
1              35         10         20              2                    25
2              15        1-7          6              1                    36
3             1-7        1-7          1              0                   400
4              20        1-7         20              1                    12
5              60         10         38              3                    13
6              35        1-7         12              1                    12
7             665        175         25              5                    49
8              40         15         18              3                    54
9              25         15          9              1                    68

   ... q7_1processfort_entthesamerecord q7_1processfort_eirparentscarers  \
0  ...                               No                              Yes
1  ...                              Yes                               No
2  ...                               No                               No
3  ...                              Yes                              Yes
4  ...                              Yes                              Yes
5  ...                              Yes                              Yes
6  ...                               No                               No
7  ...                              Yes                              Yes
8  ...                               No                               No
9  ...                               No                               No

  q7_1processfort_rersareaddressed q7_1processfort_dadultclinicians  \
0                              Yes                              Yes
1                              Yes                               No
2                               No                               No
3                              Yes                              Yes
4                              Yes                              Yes
5                              Yes                              Yes
6                               No                               No
7                              Yes                              Yes
8                               No                               No
9                               No                               No

  q7_1processfort_intheadultsystem q7_1processfort_totheadultsystem  \
0                               No                               No
1                               No                               No
2                               No                               No
3                               No                              Yes
4                              Yes                               No
5                               No                               No
6                               No                               No
7                              Yes                              Yes
8                               No                               No
9                               No                               No

  q7_1processfort_tinuedevaluation q7_1processfort_tionarrangements  \
0                              Yes                               No
1                               No                               No
2                               No                              Yes
3                               No                               No
4                              Yes                               No
5                               No                               No
6                               No                              Yes
7                              Yes                               No
8                               No                              Yes
9                               No                              Yes

  q8_1howisreimbu_thasthmaachieved q8_2hasyourcomm_iatricasthmacare
0               Payment by results                               No
1               Payment by results                               No
2       Payment via block contract                               No
3               Payment by results                               No
4                            Other                               No
5       Payment via block contract                               No
6               Payment by results                               No
7               Payment by results                               No
8        Locally negotiated tariff                               No
9                            Other                               No

[10 rows x 156 columns]



    orgcode                         description  \
132     WIR                Arrowe Park Hospital
133     WMH                      Manor Hospital
134     WMU  West Middlesex University Hospital
135     WRC       Worcestershire Royal Hospital
136     WRG                   Worthing Hospital
137     WSH               West Suffolk Hospital
138     WYB          Withybush General Hospital
139     WYT                Wythenshawe Hospital
140     YDH              York District Hospital
141     YEO            Yeovil District Hospital

                                                 trust  country emergency_adm  \
132  Wirral University Teaching Hospital NHS Founda...  England           420
133                       Walsall Healthcare NHS Trust  England           220
134  Chelsea And Westminster Hospital NHS Foundatio...  England             -
135           Worcestershire Acute Hospitals NHS Trust  England           140
136      Western Sussex Hospitals NHS Foundation Trust  England           175
137                  West Suffolk NHS Foundation Trust  England           200
138                           Hywel Dda University LHB    Wales            26
139         Manchester University NHS Foundation Trust  England           390
140        York Teaching Hospital NHS Foundation Trust  England          1510
141      Yeovil District Hospital NHS Foundation Trust  England           180

    respiratory_adm asthma_adm admsperbed respadmsperbed  \
132              55         15         22              3
133              40         10          9              2
134               -          -          -              -
135              15          0          4              0
136              20        1-7          9              1
137              25         10         20              3
138               3          0          -              -
139              65         10         12              2
140            1160         75         69             53
141              15        1-7          8              1

    asthmaadmsper1000adms  ... q7_1processfort_entthesamerecord  \
132                    36  ...                              Yes
133                    46  ...                              Yes
134                     -  ...                               No
135                     0  ...                              Yes
136                    23  ...                              Yes
137                    50  ...                               No
138                     0  ...                              Yes
139                    26  ...                               No
140                    50  ...                               No
141                    22  ...                              Yes

    q7_1processfort_eirparentscarers q7_1processfort_rersareaddressed  \
132                              Yes                              Yes
133                              Yes                              Yes
134                               No                               No
135                              Yes                              Yes
136                              Yes                              Yes
137                              Yes                              Yes
138                               No                              Yes
139                               No                               No
140                               No                               No
141                               No                              Yes

    q7_1processfort_dadultclinicians q7_1processfort_intheadultsystem  \
132                               No                               No
133                              Yes                               No
134                               No                               No
135                              Yes                               No
136                               No                               No
137                              Yes                              Yes
138                               No                               No
139                               No                               No
140                               No                               No
141                               No                               No

    q7_1processfort_totheadultsystem q7_1processfort_tinuedevaluation  \
132                               No                               No
133                              Yes                               No
134                               No                               No
135                               No                               No
136                              Yes                              Yes
137                               No                               No
138                               No                               No
139                               No                               No
140                               No                               No
141                               No                              Yes

    q7_1processfort_tionarrangements q8_1howisreimbu_thasthmaachieved  \
132                               No       Payment via block contract
133                               No       Payment via block contract
134                              Yes       Payment via block contract
135                               No               Payment by results
136                               No               Payment by results
137                               No       Payment via block contract
138                               No                            Other
139                              Yes       Payment via block contract
140                              Yes                            Other
141                               No       Payment via block contract

    q8_2hasyourcomm_iatricasthmacare
132                               No
133                               No
134                               No
135                               No
136                               No
137                               No
138                               No
139                               No
140                               No
141                               No

[10 rows x 156 columns]

 The amount of organisations in this data set is 142 .

Assessing the quality - high quality data set and how does it reflect real life data. It is reliable as it is an open data set which is provided by a creditable source. This is an external data source provided by the data.go.uk of the information of asthma in children and young adults from 2018 - 2019. It is a structured data as it carried out the following characteristics : well organised, table form, and the tables can be related in a database schema.

From my inital inspection I have noticed that there are a few rows which have empty values. Majority of the rows which have empty values mostly have value which are empty in the first couple of rows (A-G) which is an interger of the type of admission. I believe that it would be benefical to drop these values because the admission data is one of the important columns in the data set, and as these reigons of hospitals differ i would not think i would be benefical to make adverages of these admissions.

Via inspection I have noticed that some values which are - are also equlient to Nan values, but since python is dropna() function only detects nan values I would have to convert the NaN or Null values

In [46]:
# Data Cleaning - missing values

# Dropping unuseful columns 


# Handling the different types of na values "-, n/a , null"
print('Replacing the - values with na so it can be detected by dropna \n')
df = df.replace('-',np.nan)

# How many NA values are in a row
print("EMPTY ROWS VALUES")
print(df.head(50).isna().sum(axis=1))
print(df.tail(50).isna().sum(axis=1))

print("EMPTY COLUMNS VALUES")
# How many NA values are in a column
print(df.isna().sum(axis=0))

# Checking if there are missing values in a row
print('Checking for each row is there na values \n ')

Replacing the - values with na so it can be detected by dropna

EMPTY ROWS VALUES
0     57
1      8
2     12
3      2
4      3
5      9
6     10
7      3
8      5
9      8
10    43
11     6
12     8
13     6
14     5
15    24
16     4
17    40
18     5
19    10
20     7
21    10
22    36
23    60
24     4
25     5
26     3
27     4
28     8
29    11
30     4
31     8
32     4
33     7
34     2
35     3
36    23
37    11
38    62
39     3
40     6
41     2
42    10
43     4
44     3
45    68
46    37
47    36
48     3
49    37
dtype: int64
92     65
93      9
94      1
95      6
96      8
97      1
98     73
99      1
100     8
101     8
102    65
103     5
104     8
105    10
106     6
107    39
108     3
109     8
110     7
111     4
112     2
113     6
114     5
115     7
116     3
117     4
118    35
119     2
120    44
121    65
122    63
123    11
124     6
125     8
126     8
127     4
128    37
129    16
130     3
131     2
132     5
133     3
134    62
135    19
136     5
137     3
138    24
139     5
140     5
141     8
dtype: int64
EMPTY COLUMNS VALUES
orgcode                              0
description                          0
trust                                0
country                              0
emergency_adm                       28
                                    ..
q7_1processfort_totheadultsystem     0
q7_1processfort_tinuedevaluation     0
q7_1processfort_tionarrangements     0
q8_1howisreimbu_thasthmaachieved     2
q8_2hasyourcomm_iatricasthmacare     2
Length: 156, dtype: int64
Checking for each row is there na values

The statement which I have chosen takes into consideration the amount of na values which is in each row in the different format. Based on the inspection there are many na values in the format - or na, so I have replaced the - values with na so it can be detected. I then checked how many na values are in each row and how many na values are in each column

So it would be appropriate to drop a row or column I would need to have a threshold, 143 by 156 respectively. I believe that if a row or column has too many missing values it would be acceptable to drop them as it wouldn't be useful

In [ ]:
# duplicate values

In [ ]:
#formatting

In [ ]:
#headers

In [ ]:
# Data transformation - normalise, Discretize or aggregate , new attributes

In [ ]:
# Data reduction

In [ ]:
# Saving the cleaned data set into a new file 
df.to_csv("cleaned_dataset.csv", index=False)