# Data Preparation

## Load and Present Data

In [12]:
# Data sourcing and cleaning
import pandas as pd
import numpy as np
from tensorboard.notebook import display

# Reading the data set 
df = pd.read_csv('../data/raw_data/Children-and-young-ppl-asthma-organisational-audit-2019-20-Data.csv')
print("Original Data")
print(df.head(10))
print("\n \n")
print(df.tail(10))
#Returning how many rows in the data frame 
print("\n The amount of organisations in this data set is",df.count().values[0],".")

Original Data
  orgcode                          description  \
0     ADD               Addenbrooke's Hospital
1     AEI        Royal Albert Edward Infirmary
2     AIR            Airedale General Hospital
3     ALC  Royal Alexandra Children's Hospital
4     BAR   Barnsley District General Hospital
5     BAS                    Basildon Hospital
6     BAT           Royal United Hospital Bath
7     BCH       Birmingham Children's Hospital
8     BED                     Bedford Hospital
9     BFH                Broomfield Chelmsford

                                               trust  country emergency_adm  \
0  Cambridge University Hospitals NHS Foundation ...  England             -
1  Wrightington, Wigan and Leigh NHS Foundation T...  England           400
2                      Airedale NHS Foundation Trust  England           110
3  Brighton and Sussex University Hospitals NHS T...  England            10
4             Barnsley Hospital NHS Foundation Trust  England           325
5  Basildon and Thurrock University Hospitals NHS...  England           755
6   Royal United Hospitals Bath NHS Foundation Trust  England           345
7  Birmingham Women's and Children's NHS Foundati...  England          3550
8                         Bedford Hospital NHS Trust  England           280
9              Mid Essex Hospital Services NHS Trust  England           220

  respiratory_adm asthma_adm admsperbed respadmsperbed asthmaadmsper1000adms  \
0               -          -          -              -                     -
1              35         10         20              2                    25
2              15        1-7          6              1                    36
3             1-7        1-7          1              0                   400
4              20        1-7         20              1                    12
5              60         10         38              3                    13
6              35        1-7         12              1                    12
7             665        175         25              5                    49
8              40         15         18              3                    54
9              25         15          9              1                    68

   ... q7_1processfort_entthesamerecord q7_1processfort_eirparentscarers  \
0  ...                               No                              Yes
1  ...                              Yes                               No
2  ...                               No                               No
3  ...                              Yes                              Yes
4  ...                              Yes                              Yes
5  ...                              Yes                              Yes
6  ...                               No                               No
7  ...                              Yes                              Yes
8  ...                               No                               No
9  ...                               No                               No

  q7_1processfort_rersareaddressed q7_1processfort_dadultclinicians  \
0                              Yes                              Yes
1                              Yes                               No
2                               No                               No
3                              Yes                              Yes
4                              Yes                              Yes
5                              Yes                              Yes
6                               No                               No
7                              Yes                              Yes
8                               No                               No
9                               No                               No

  q7_1processfort_intheadultsystem q7_1processfort_totheadultsystem  \
0                               No                               No
1                               No                               No
2                               No                               No
3                               No                              Yes
4                              Yes                               No
5                               No                               No
6                               No                               No
7                              Yes                              Yes
8                               No                               No
9                               No                               No

  q7_1processfort_tinuedevaluation q7_1processfort_tionarrangements  \
0                              Yes                               No
1                               No                               No
2                               No                              Yes
3                               No                               No
4                              Yes                               No
5                               No                               No
6                               No                              Yes
7                              Yes                               No
8                               No                              Yes
9                               No                              Yes

  q8_1howisreimbu_thasthmaachieved q8_2hasyourcomm_iatricasthmacare
0               Payment by results                               No
1               Payment by results                               No
2       Payment via block contract                               No
3               Payment by results                               No
4                            Other                               No
5       Payment via block contract                               No
6               Payment by results                               No
7               Payment by results                               No
8        Locally negotiated tariff                               No
9                            Other                               No

[10 rows x 156 columns]



    orgcode                         description  \
132     WIR                Arrowe Park Hospital
133     WMH                      Manor Hospital
134     WMU  West Middlesex University Hospital
135     WRC       Worcestershire Royal Hospital
136     WRG                   Worthing Hospital
137     WSH               West Suffolk Hospital
138     WYB          Withybush General Hospital
139     WYT                Wythenshawe Hospital
140     YDH              York District Hospital
141     YEO            Yeovil District Hospital

                                                 trust  country emergency_adm  \
132  Wirral University Teaching Hospital NHS Founda...  England           420
133                       Walsall Healthcare NHS Trust  England           220
134  Chelsea And Westminster Hospital NHS Foundatio...  England             -
135           Worcestershire Acute Hospitals NHS Trust  England           140
136      Western Sussex Hospitals NHS Foundation Trust  England           175
137                  West Suffolk NHS Foundation Trust  England           200
138                           Hywel Dda University LHB    Wales            26
139         Manchester University NHS Foundation Trust  England           390
140        York Teaching Hospital NHS Foundation Trust  England          1510
141      Yeovil District Hospital NHS Foundation Trust  England           180

    respiratory_adm asthma_adm admsperbed respadmsperbed  \
132              55         15         22              3
133              40         10          9              2
134               -          -          -              -
135              15          0          4              0
136              20        1-7          9              1
137              25         10         20              3
138               3          0          -              -
139              65         10         12              2
140            1160         75         69             53
141              15        1-7          8              1

    asthmaadmsper1000adms  ... q7_1processfort_entthesamerecord  \
132                    36  ...                              Yes
133                    46  ...                              Yes
134                     -  ...                               No
135                     0  ...                              Yes
136                    23  ...                              Yes
137                    50  ...                               No
138                     0  ...                              Yes
139                    26  ...                               No
140                    50  ...                               No
141                    22  ...                              Yes

    q7_1processfort_eirparentscarers q7_1processfort_rersareaddressed  \
132                              Yes                              Yes
133                              Yes                              Yes
134                               No                               No
135                              Yes                              Yes
136                              Yes                              Yes
137                              Yes                              Yes
138                               No                              Yes
139                               No                               No
140                               No                               No
141                               No                              Yes

    q7_1processfort_dadultclinicians q7_1processfort_intheadultsystem  \
132                               No                               No
133                              Yes                               No
134                               No                               No
135                              Yes                               No
136                               No                               No
137                              Yes                              Yes
138                               No                               No
139                               No                               No
140                               No                               No
141                               No                               No

    q7_1processfort_totheadultsystem q7_1processfort_tinuedevaluation  \
132                               No                               No
133                              Yes                               No
134                               No                               No
135                               No                               No
136                              Yes                              Yes
137                               No                               No
138                               No                               No
139                               No                               No
140                               No                               No
141                               No                              Yes

    q7_1processfort_tionarrangements q8_1howisreimbu_thasthmaachieved  \
132                               No       Payment via block contract
133                               No       Payment via block contract
134                              Yes       Payment via block contract
135                               No               Payment by results
136                               No               Payment by results
137                               No       Payment via block contract
138                               No                            Other
139                              Yes       Payment via block contract
140                              Yes                            Other
141                               No       Payment via block contract

    q8_2hasyourcomm_iatricasthmacare
132                               No
133                               No
134                               No
135                               No
136                               No
137                               No
138                               No
139                               No
140                               No
141                               No

[10 rows x 156 columns]

 The amount of organisations in this data set is 142 .

## Data Cleaning

In [17]:
# Dropping irrelevent columns 

#Dropping columns with contain "WTE"
valToRemove = "WTE"
listOfColumns = []
for column in df.columns:
    column_name = df[column].astype(str)
    wteString = column_name.str.contains("|".join(valToRemove), case=False, na=False)
    if wteString.any():
        listOfColumns.append(column)
df = df.drop(columns = listOfColumns)

print (df)

    emergency_adm respiratory_adm asthma_adm admsperbed respadmsperbed  \
0               -               -          -          -              -
1             400              35         10         20              2
2             110              15        1-7          6              1
3              10             1-7        1-7          1              0
4             325              20        1-7         20              1
..            ...             ...        ...        ...            ...
137           200              25         10         20              3
138            26               3          0          -              -
139           390              65         10         12              2
140          1510            1160         75         69             53
141           180              15        1-7          8              1

    asthmaadmsper1000adms howmanypaediatr_icasthmapatients  \
0                       -                               40
1                      25                               20
2                      36                               20
3                     400                               15
4                      12                               16
..                    ...                              ...
137                    50                               10
138                     0                                0
139                    26                               34
140                    50                               22
141                    22                               24

    q1_2ahowmanybed_aediatrichduhave q1_3ahowmanybedsdoesyourpicuhave  \
0                                  5                                8
1                                  2                              NaN
2                                NaN                              NaN
3                                 10                              NaN
4                                  2                              NaN
..                               ...                              ...
137                                2                              NaN
138                              NaN                              NaN
139                                1                              NaN
140                                2                              NaN
141                              NaN                              NaN

    fy1fy2filledwte  ... paediatricrespi_ltantunfilledwte  \
0                 4  ...                                -
1                 3  ...                                0
2                 2  ...                                0
3                 7  ...                                0
4                 3  ...                                0
..              ...  ...                              ...
137               2  ...                                0
138               0  ...                                0
139               2  ...                                0
140               4  ...                                0
141               3  ...                                0

    associatespecialistunfilledwte staffgradeunfilledwte  \
0                                -                     -
1                                0                     0
2                                1                     0
3                                0                     0
4                                0                     0
..                             ...                   ...
137                              0                     0
138                              0                     0
139                              0                     0
140                              0                     0
141                              0                     0

    asthmanursespecialistunfilledwte nurseconsultant_nurseunfilledwte  \
0                                0.2                                -
1                                  1                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0
..                               ...                              ...
137                                0                                0
138                                0                                0
139                                0                                0
140                                0                                0
141                                0                                0

    specialistrespi_rapisunfilledwte paediatricpsych_ogistunfilledwte  \
0                                  -                              0.5
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0
..                               ...                              ...
137                                0                                0
138                                0                                0
139                                0                                0
140                                0                                0
141                                0                                0

    paediatricpharmacistunfilledwte othernotlistedunfilledwte  \
0                                 -                         -
1                                 0                         0
2                                 0                         0
3                                 0                         0
4                                 0                         0
..                              ...                       ...
137                               0                         0
138                               0                         0
139                               0                         0
140                               0                         0
141                               0                         0

    q4_4respiratory_tsdaysoutofhours
0                                 No
1                                  -
2                                  -
3                                 No
4                                 No
..                               ...
137                               No
138                                -
139                               No
140                               No
141                                -

[142 rows x 62 columns]

Via inspection I have noticed that some values which are - are also equlient to Nan values, but since python is dropna() function only detects nan values I would have to convert the NaN or Null values

In [19]:
# Data Cleaning - missing values

# Dropping unuseful columns 
# Handling the different types of na values "-, n/a , null"
print('Replacing the - values with na so it can be detected by dropna \n')
df = df.replace('-',np.nan)

# How many NA values are in a row
print("EMPTY ROWS VALUES")
print(df.head(50).isna().sum(axis=1))
print(df.tail(50).isna().sum(axis=1))

# How many NA values are in a column
print("\nEMPTY COLUMNS VALUES")
print(df.isna().sum(axis=0))

Replacing the - values with na so it can be detected by dropna

EMPTY ROWS VALUES
0     43
1      2
2      3
3      1
4      1
5      3
6      2
7      0
8      1
9      2
10    34
11     2
12     2
13     1
14     2
15    18
16     2
17    34
18     4
19     3
20     2
21     3
22    33
23    47
24     1
25     1
26     1
27     2
28     2
29     3
30     2
31     2
32     1
33     2
34     0
35     1
36    17
37     3
38    46
39     1
40     2
41     1
42     2
43     2
44     1
45    48
46    33
47    32
48     2
49    33
dtype: int64
92     46
93      3
94      1
95      2
96      2
97      0
98     50
99      1
100     2
101     2
102    47
103     0
104     1
105     3
106     2
107    32
108     2
109     2
110     2
111     1
112     0
113     1
114     1
115     2
116     1
117     2
118    33
119     1
120    35
121    47
122    45
123     3
124     1
125     2
126     2
127     1
128    34
129    14
130     1
131     1
132     1
133     1
134    47
135    15
136     1
137     1
138    18
139     1
140     1
141     3
dtype: int64

EMPTY COLUMNS VALUES
emergency_adm                       28
respiratory_adm                     28
asthma_adm                          28
admsperbed                          32
respadmsperbed                      32
                                    ..
specialistrespi_rapisunfilledwte    15
paediatricpsych_ogistunfilledwte    13
paediatricpharmacistunfilledwte     14
othernotlistedunfilledwte           17
q4_4respiratory_tsdaysoutofhours    42
Length: 62, dtype: int64

The statement which I have chosen takes into consideration the amount of na values which is in each row in the different format. Based on the inspection there are many na values in the format - or na, so I have replaced the - values with na so it can be detected. I then checked how many na values are in each row and how many na values are in each column

So it would be appropriate to drop a row or column I would need to have a threshold, 143 by 156 respectively. I believe that if a row or column has too many missing values it would be acceptable to drop them as it wouldn't be useful

In [ ]:
# duplicate values

In [ ]:
#formatting

In [ ]:
#headers

In [ ]:
# Data transformation - normalise, Discretize or aggregate , new attributes

In [ ]:
# Data reduction

In [ ]:
# Saving the cleaned data set into a new file 
df.to_csv("cleaned_dataset.csv", index=False)