# Data Preparation

## Load and Present Data

In [104]:
# Data sourcing and cleaning
from tabulate import tabulate
import pandas as pd
import numpy as np
from tensorboard.notebook import display

# Load the data set 
df = pd.read_csv('../data/raw_data/Children-and-young-ppl-asthma-organisational-audit-2019-20-Data.csv')
df.info()
print("Original Data")
print(df)
#Returning how many rows in the data frame 
print("\n The amount of organisations in the raw data set is",df.count().values[0],".")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Columns: 156 entries, orgcode to q8_2hasyourcomm_iatricasthmacare
dtypes: object(156)
memory usage: 173.2+ KB
Original Data
    orgcode                          description  \
0       ADD               Addenbrooke's Hospital
1       AEI        Royal Albert Edward Infirmary
2       AIR            Airedale General Hospital
3       ALC  Royal Alexandra Children's Hospital
4       BAR   Barnsley District General Hospital
..      ...                                  ...
137     WSH                West Suffolk Hospital
138     WYB           Withybush General Hospital
139     WYT                 Wythenshawe Hospital
140     YDH               York District Hospital
141     YEO             Yeovil District Hospital

                                                 trust  country emergency_adm  \
0    Cambridge University Hospitals NHS Foundation ...  England             -
1    Wrightington, Wigan and Leigh NHS Foundation T...  England           400
2                        Airedale NHS Foundation Trust  England           110
3    Brighton and Sussex University Hospitals NHS T...  England            10
4               Barnsley Hospital NHS Foundation Trust  England           325
..                                                 ...      ...           ...
137                  West Suffolk NHS Foundation Trust  England           200
138                           Hywel Dda University LHB    Wales            26
139         Manchester University NHS Foundation Trust  England           390
140        York Teaching Hospital NHS Foundation Trust  England          1510
141      Yeovil District Hospital NHS Foundation Trust  England           180

    respiratory_adm asthma_adm admsperbed respadmsperbed  \
0                 -          -          -              -
1                35         10         20              2
2                15        1-7          6              1
3               1-7        1-7          1              0
4                20        1-7         20              1
..              ...        ...        ...            ...
137              25         10         20              3
138               3          0          -              -
139              65         10         12              2
140            1160         75         69             53
141              15        1-7          8              1

    asthmaadmsper1000adms  ... q7_1processfort_entthesamerecord  \
0                       -  ...                               No
1                      25  ...                              Yes
2                      36  ...                               No
3                     400  ...                              Yes
4                      12  ...                              Yes
..                    ...  ...                              ...
137                    50  ...                               No
138                     0  ...                              Yes
139                    26  ...                               No
140                    50  ...                               No
141                    22  ...                              Yes

    q7_1processfort_eirparentscarers q7_1processfort_rersareaddressed  \
0                                Yes                              Yes
1                                 No                              Yes
2                                 No                               No
3                                Yes                              Yes
4                                Yes                              Yes
..                               ...                              ...
137                              Yes                              Yes
138                               No                              Yes
139                               No                               No
140                               No                               No
141                               No                              Yes

    q7_1processfort_dadultclinicians q7_1processfort_intheadultsystem  \
0                                Yes                               No
1                                 No                               No
2                                 No                               No
3                                Yes                               No
4                                Yes                              Yes
..                               ...                              ...
137                              Yes                              Yes
138                               No                               No
139                               No                               No
140                               No                               No
141                               No                               No

    q7_1processfort_totheadultsystem q7_1processfort_tinuedevaluation  \
0                                 No                              Yes
1                                 No                               No
2                                 No                               No
3                                Yes                               No
4                                 No                              Yes
..                               ...                              ...
137                               No                               No
138                               No                               No
139                               No                               No
140                               No                               No
141                               No                              Yes

    q7_1processfort_tionarrangements q8_1howisreimbu_thasthmaachieved  \
0                                 No               Payment by results
1                                 No               Payment by results
2                                Yes       Payment via block contract
3                                 No               Payment by results
4                                 No                            Other
..                               ...                              ...
137                               No       Payment via block contract
138                               No                            Other
139                              Yes       Payment via block contract
140                              Yes                            Other
141                               No       Payment via block contract

    q8_2hasyourcomm_iatricasthmacare
0                                 No
1                                 No
2                                 No
3                                 No
4                                 No
..                               ...
137                               No
138                               No
139                               No
140                               No
141                               No

[142 rows x 156 columns]

 The amount of organisations in the raw data set is 142 .

## Data Cleaning - Irrelevant Columns

In [105]:
#Dropping irrelevant columns 
#Dropping columns with contain the following keywords which are irrelevant for this data analysis
previous_col_size= len(df.columns)
valsToRemove = ["WTE","q8","q7","q6","q5","q4","q3","othernotlisted","cat"]
listOfColumns = []
for column in df.columns:
    if any(sub in column for sub in valsToRemove):
        listOfColumns.append(column)
    column_name = df[column].astype(str)
    wteString = column_name.str.contains("|".join(valsToRemove), case=False, na=False)
    if wteString.any():
        listOfColumns.append(column) 
df = df.drop(columns = listOfColumns)
succeeding_col_size = len(df.columns)
end_col_size = previous_col_size - succeeding_col_size
print(df)
print("There were", end_col_size,"irrelevant columns in the raw data set")

    orgcode                          description  \
0       ADD               Addenbrooke's Hospital
1       AEI        Royal Albert Edward Infirmary
2       AIR            Airedale General Hospital
3       ALC  Royal Alexandra Children's Hospital
4       BAR   Barnsley District General Hospital
..      ...                                  ...
137     WSH                West Suffolk Hospital
138     WYB           Withybush General Hospital
139     WYT                 Wythenshawe Hospital
140     YDH               York District Hospital
141     YEO             Yeovil District Hospital

                                                 trust  country emergency_adm  \
0    Cambridge University Hospitals NHS Foundation ...  England             -
1    Wrightington, Wigan and Leigh NHS Foundation T...  England           400
2                        Airedale NHS Foundation Trust  England           110
3    Brighton and Sussex University Hospitals NHS T...  England            10
4               Barnsley Hospital NHS Foundation Trust  England           325
..                                                 ...      ...           ...
137                  West Suffolk NHS Foundation Trust  England           200
138                           Hywel Dda University LHB    Wales            26
139         Manchester University NHS Foundation Trust  England           390
140        York Teaching Hospital NHS Foundation Trust  England          1510
141      Yeovil District Hospital NHS Foundation Trust  England           180

    respiratory_adm asthma_adm admsperbed respadmsperbed  \
0                 -          -          -              -
1                35         10         20              2
2                15        1-7          6              1
3               1-7        1-7          1              0
4                20        1-7         20              1
..              ...        ...        ...            ...
137              25         10         20              3
138               3          0          -              -
139              65         10         12              2
140            1160         75         69             53
141              15        1-7          8              1

    asthmaadmsper1000adms  ... st3andaboveunfilledwte  \
0                       -  ...                    0.2
1                      25  ...                      1
2                      36  ...                      0
3                     400  ...                      0
4                      12  ...                      2
..                    ...  ...                    ...
137                    50  ...                      0
138                     0  ...                      2
139                    26  ...                      1
140                    50  ...                      0
141                    22  ...                      0

    paediatricconsultantunfilledwte paediatricrespi_ltantunfilledwte  \
0                                 -                                -
1                                 0                                0
2                                 5                                0
3                                 0                                0
4                                 1                                0
..                              ...                              ...
137                               0                                0
138                               3                                0
139                               0                                0
140                               0                                0
141                               0                                0

    associatespecialistunfilledwte staffgradeunfilledwte  \
0                                -                     -
1                                0                     0
2                                1                     0
3                                0                     0
4                                0                     0
..                             ...                   ...
137                              0                     0
138                              0                     0
139                              0                     0
140                              0                     0
141                              0                     0

    asthmanursespecialistunfilledwte nurseconsultant_nurseunfilledwte  \
0                                0.2                                -
1                                  1                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0
..                               ...                              ...
137                                0                                0
138                                0                                0
139                                0                                0
140                                0                                0
141                                0                                0

    specialistrespi_rapisunfilledwte paediatricpsych_ogistunfilledwte  \
0                                  -                              0.5
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0
..                               ...                              ...
137                                0                                0
138                                0                                0
139                                0                                0
140                                0                                0
141                                0                                0

    paediatricpharmacistunfilledwte
0                                 -
1                                 0
2                                 0
3                                 0
4                                 0
..                              ...
137                               0
138                               0
139                               0
140                               0
141                               0

[142 rows x 63 columns]
There were 93 irrelevant columns in the raw data set

## Data Cleaning - Duplicate Values

In [106]:
# Duplicate values
has_duplicates = df.duplicated().sum()
print("The number of duplicate organisations are ",has_duplicates)  # True if duplicates exist

The number of duplicate organisations are  0

## Data Cleaning - Missing Values

In [107]:
from sklearn.impute import SimpleImputer

# Handling the different types of na values "-, n/a , null"
print('Replacing the - values with na so it can be detected by dropna \n')
df = df.replace(['-','1-7'],np.nan)

#Number of missing values in whole dataset
total_missing_val= df.isna().sum().sum()

# How many NA values are in a row
print("EMPTY ROWS VALUES")
print(df.isna().sum(axis=1))

# How many NA values are in a column
print("\nEMPTY COLUMNS VALUES")
print(df.isna().sum(axis=0))

# Filling NA values using simple impute and mode(most frequent)
# Separate numeric and string columns
numeric_col = [col for col in df.columns if df[col].dtypes in ['int64', 'float64']]
string_columns = [col for col in df.columns if df[col].dtypes == 'object']

# Impute numeric columns with mean
if numeric_col:
    numeric_imputer = SimpleImputer(strategy='mean')
    df[numeric_col] = numeric_imputer.fit_transform(df[numeric_col])

# Impute string columns with the most frequent value
if string_columns:
    string_imputer = SimpleImputer(strategy='most_frequent')
    df[string_columns] = string_imputer.fit_transform(df[string_columns])

print("\n \n")    
print(df)
print("Total missing values that were replaced by SimpleImputer", total_missing_val )

Replacing the - values with na so it can be detected by dropna

EMPTY ROWS VALUES
0      39
1       1
2       3
3       3
4       2
       ..
137     1
138    16
139     1
140     1
141     3
Length: 142, dtype: int64

EMPTY COLUMNS VALUES
orgcode                              0
description                          0
trust                                0
country                              0
emergency_adm                       28
                                    ..
asthmanursespecialistunfilledwte    11
nurseconsultant_nurseunfilledwte    12
specialistrespi_rapisunfilledwte    15
paediatricpsych_ogistunfilledwte    13
paediatricpharmacistunfilledwte     14
Length: 63, dtype: int64



    orgcode                          description  \
0       ADD               Addenbrooke's Hospital
1       AEI        Royal Albert Edward Infirmary
2       AIR            Airedale General Hospital
3       ALC  Royal Alexandra Children's Hospital
4       BAR   Barnsley District General Hospital
..      ...                                  ...
137     WSH                West Suffolk Hospital
138     WYB           Withybush General Hospital
139     WYT                 Wythenshawe Hospital
140     YDH               York District Hospital
141     YEO             Yeovil District Hospital

                                                 trust  country emergency_adm  \
0    Cambridge University Hospitals NHS Foundation ...  England           220
1    Wrightington, Wigan and Leigh NHS Foundation T...  England           400
2                        Airedale NHS Foundation Trust  England           110
3    Brighton and Sussex University Hospitals NHS T...  England            10
4               Barnsley Hospital NHS Foundation Trust  England           325
..                                                 ...      ...           ...
137                  West Suffolk NHS Foundation Trust  England           200
138                           Hywel Dda University LHB    Wales            26
139         Manchester University NHS Foundation Trust  England           390
140        York Teaching Hospital NHS Foundation Trust  England          1510
141      Yeovil District Hospital NHS Foundation Trust  England           180

    respiratory_adm asthma_adm admsperbed respadmsperbed  \
0                20         10          9              1
1                35         10         20              2
2                15         10          6              1
3                20         10          1              0
4                20         10         20              1
..              ...        ...        ...            ...
137              25         10         20              3
138               3          0          9              1
139              65         10         12              2
140            1160         75         69             53
141              15         10          8              1

    asthmaadmsper1000adms  ... st3andaboveunfilledwte  \
0                       0  ...                    0.2
1                      25  ...                      1
2                      36  ...                      0
3                     400  ...                      0
4                      12  ...                      2
..                    ...  ...                    ...
137                    50  ...                      0
138                     0  ...                      2
139                    26  ...                      1
140                    50  ...                      0
141                    22  ...                      0

    paediatricconsultantunfilledwte paediatricrespi_ltantunfilledwte  \
0                                 0                                0
1                                 0                                0
2                                 5                                0
3                                 0                                0
4                                 1                                0
..                              ...                              ...
137                               0                                0
138                               3                                0
139                               0                                0
140                               0                                0
141                               0                                0

    associatespecialistunfilledwte staffgradeunfilledwte  \
0                                0                     0
1                                0                     0
2                                1                     0
3                                0                     0
4                                0                     0
..                             ...                   ...
137                              0                     0
138                              0                     0
139                              0                     0
140                              0                     0
141                              0                     0

    asthmanursespecialistunfilledwte nurseconsultant_nurseunfilledwte  \
0                                0.2                                0
1                                  1                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0
..                               ...                              ...
137                                0                                0
138                                0                                0
139                                0                                0
140                                0                                0
141                                0                                0

    specialistrespi_rapisunfilledwte paediatricpsych_ogistunfilledwte  \
0                                  0                              0.5
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0
..                               ...                              ...
137                                0                                0
138                                0                                0
139                                0                                0
140                                0                                0
141                                0                                0

    paediatricpharmacistunfilledwte
0                                 0
1                                 0
2                                 0
3                                 0
4                                 0
..                              ...
137                               0
138                               0
139                               0
140                               0
141                               0

[142 rows x 63 columns]
Total missing values that were replaced by SimpleImputer 1353

## Data Cleaning - Data Usability

In [108]:
# Changing data frame column names
col_names = ["Hospital code","Hospital name",]
update_col_names = [f"{name}" for name in col_names]
df.columns = update_col_names

,orgcode,description,trust,country,emergency_adm,respiratory_adm,asthma_adm,admsperbed,respadmsperbed,asthmaadmsper1000adms,...,st3andaboveunfilledwte,paediatricconsultantunfilledwte,paediatricrespi_ltantunfilledwte,associatespecialistunfilledwte,staffgradeunfilledwte,asthmanursespecialistunfilledwte,nurseconsultant_nurseunfilledwte,specialistrespi_rapisunfilledwte,paediatricpsych_ogistunfilledwte,paediatricpharmacistunfilledwte
count,142,142,142,142,142,142,142,142,142,142,...,142,142,142,142,142,142,142,142,142,142
unique,142,142,117,3,85,26,14,34,12,54,...,13,7,2,4,6,4,3,4,4,3
top,ADD,Addenbrooke's Hospital,Hywel Dda University LHB,England,220,20,10,9,1,0,...,0,0,0,0,0,0,0,0,0,0
freq,1,1,3,128,35,51,108,43,88,34,...,72,109,138,136,124,129,138,136,131,138

In [ ]:
# Comparing sizes of data frames 
# Saving the cleaned data set into a new file 
df.to_csv("cleaned_dataset.csv", index=False)